.fund_page
  p
    line-height 1.8rem
  .header
    padding 1.4rem 2rem
    background-color: #fff
    .fundTitle
      margin-bottom 0.2rem
      font-size: 1.4rem
    .fundInfo
      margin-top 0.2rem
      color #c0c0c0
    .data
      margin-top 1.4rem
      .rate, .val
        width 48%
  .chart
    height 8rem
    margin 1.4rem 2rem
    background-color: #fff
    .fundChart
      margin-bottom 1.4rem
    .tab
      width: 70%
      height 3rem
      line-height 3rem
      border 1px  solid #c0c0c0
      border-radius 4rem
      margin 0 auto
      background #fff
      overflow hidden
      li
        float left
        width 33%
        border-right 0.1rem solid #c0c0c0
        text-align center
        cursor pointer
      li:last-child
        border-right: none
  .active
    background rgba(229,229,229,0.2)
  .titleLine
    position relative
    top 0.1rem
    display inline-block
    width 0.3rem
    height 1rem
    border-radius 0.4rem
    margin-right 0.8rem
    background #333
  .classTitle
    height 4rem
    line-height 4rem
    font-size 1.4rem
    font-weight bold
    border-bottom 1px solid #d0d0d0
    margin-bottom 1.4rem
  .classroom
    height 6rem
    overflow hidden
  .expand
    padding 1.4rem 2rem
    background-color: #fff
    .classPic
      width 2rem
      height 2rem
    .roomTitle
      width 90%
      margin-left 2%

      .titleText
        margin-bottom 1rem
      .contText
        margin 1rem 0
        color #c0c0c0
    .opp
      text-align center
  .manager
    padding 1.4rem 2rem
    background-color: #fff
    .tab
      width 40%
      height 3rem
      line-height 3rem
      border 1px  solid #c0c0c0
      border-radius 4rem
      margin: 0 auto
      background #fff
      overflow hidden
      li
        float left
        width 48%
        border-right 0.1rem solid #c0c0c0
        text-align center
        cursor pointer
      li:last-child
        border-right: none
