.clearfix:after
  content ''
  display block
  height 0
  visibility hidden
  clear both
.clearfix
  zoom 1
.fl
  float left
.fr
  float right
.page
  width 986px
  min-width 960px
  margin 0 auto
  font-size 1.2rem
  color #333

.space
  padding 0 2rem
.gap
  margin-bottom 1rem
.title
  height 5rem
  line-height 5rem
  font-weight bold
  font-size 2rem
.line
  position relative
  top 0.4rem
  display inline-block
  width 0.4rem
  height 2rem
  border-radius 0.4rem
  margin-right 0.8rem
  background #333
.bold
  font-size 1.6rem
  font-weight bold
  font-family FuturaLTMedium
.red
  color red
.green
  color green
img
  max-width 100%

