html
  font-size 62.5%
  font-family "Microsoft YaHei", Arial
  background rgba(245,245,245,0.3)
div,ul,li,ol,h1,h2,h3,h4,h5,h6,p,table,th,tr,td,a,input
  margin 0
  padding 0
  list-style none
  outline none
a
  text-decoration none
