// font-size
$content-font-size = 1.4rem

$tag-font-size = 1.4rem
$tag-font-size-sm = 1.2rem
$tag-font-size-md = 1.6rem

$border-radius = 4px
$border-radius-md = 8px
$border-radius-xm = 12px

$page-vertical-padding = 1rem
$page-vertical-margin = 1.5rem

// color
$primary-color = #26a2ff
$font-color = #333
$pressed-color = #cccccc
$tip-color = #fb6532
