.mycard_page
  .card
    padding-top 2rem
    li
      position relative
      height 6rem
      padding: 1rem 1.4rem
      background linear-gradient(90deg,#558ae6,#526edc)
      border-radius 0.8rem
      margin-bottom 1.4rem
      color #fff
      .card_num
        position absolute
        left 45%
        bottom 1rem
        font-size 2.4rem
        text-align center
    .add_card
      border 1px dotted #e5e5e5
      line-height 6rem
      text-align center
      background #fff
      cursor pointer
      font-size 1.6rem
      color #666565